In [4]:
import pandas as pd
dir(pd)

['ArrowDtype',
 'BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Flags',
 'Float32Dtype',
 'Float64Dtype',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int64Index',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt64Index',
 'UInt8Dtype',
 '__all__',
 '__builtins__',
 '__cached__',
 '__deprecated_num_index_names',
 '__dir__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__getattr__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_config',
 '_is_numpy_dev',
 '_libs',
 '_testing',
 '_typing',
 '_version',
 'annotations',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'from_dummies',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'read_xml',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

In [2]:
who = pd.read_csv("WHO.csv")
who

,Date_reported,Country,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-04,China,1,1,0,0
1,2020-01-05,China,0,1,0,0
2,2020-01-06,China,3,4,0,0
3,2020-01-07,China,0,4,0,0
4,2020-01-08,China,0,4,0,0
...,...,...,...,...,...,...
31871,2020-07-31,Panama,1046,63269,25,1374
31872,2020-07-31,Timor-Leste,0,24,0,0
31873,2020-07-31,Guatemala,1221,48826,32,1867
31874,2020-07-31,Saint Vincent and the Grenadines,0,52,0,0
31875,2020-07-31,Democratic Republic of the Congo,79,9009,2,214

In [3]:
who.head(n=10)

,Date_reported,Country,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-04,China,1,1,0,0
1,2020-01-05,China,0,1,0,0
2,2020-01-06,China,3,4,0,0
3,2020-01-07,China,0,4,0,0
4,2020-01-08,China,0,4,0,0
5,2020-01-09,China,0,4,0,0
6,2020-01-10,China,0,4,0,0
7,2020-01-11,China,41,45,1,1
8,2020-01-12,China,0,45,0,1
9,2020-01-13,Thailand,5,5,0,0

In [12]:
who["Date_reported"]

0        2020-01-04
1        2020-01-05
2        2020-01-06
3        2020-01-07
4        2020-01-08
            ...
31871    2020-07-31
31872    2020-07-31
31873    2020-07-31
31874    2020-07-31
31875    2020-07-31
Name: Date_reported, Length: 31876, dtype: object

In [13]:
who["Date_reported"][0]

'2020-01-04'

In [5]:
who.columns

Index(['Date_reported', 'Country', 'New_cases', 'Cumulative_cases',
       'New_deaths', 'Cumulative_deaths'],
      dtype='object')

In [15]:
who.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31876 entries, 0 to 31875
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date_reported      31876 non-null  object
 1   Country            31876 non-null  object
 2   New_cases          31876 non-null  int64
 3   Cumulative_cases   31876 non-null  int64
 4   New_deaths         31876 non-null  int64
 5   Cumulative_deaths  31876 non-null  int64
dtypes: int64(4), object(2)
memory usage: 1.5+ MB

In [16]:
pd.to_datetime(who["Date_reported"])

0       2020-01-04
1       2020-01-05
2       2020-01-06
3       2020-01-07
4       2020-01-08
           ...
31871   2020-07-31
31872   2020-07-31
31873   2020-07-31
31874   2020-07-31
31875   2020-07-31
Name: Date_reported, Length: 31876, dtype: datetime64[ns]

In [18]:
who.Date_reported = pd.to_datetime(who["Date_reported"])
who.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31876 entries, 0 to 31875
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date_reported      31876 non-null  datetime64[ns]
 1   Country            31876 non-null  object
 2   New_cases          31876 non-null  int64
 3   Cumulative_cases   31876 non-null  int64
 4   New_deaths         31876 non-null  int64
 5   Cumulative_deaths  31876 non-null  int64
dtypes: datetime64[ns](1), int64(4), object(1)
memory usage: 1.5+ MB

In [37]:
list=[]
for con in who["Country"]:
    if con == "Italy":
        list.append(con)

print(len(list))

185